#tête{
    width  : 650px;
    height : 480px;
    background : rgb(165, 42, 42);
    position:absolute;
    border-radius: 10% 10% 20% 20%;
    left:500px;
    top: 250px;
    z-index: 2;
}

#oreillesD{
    width :175px;
    height : 350px;
    background : rgb(165, 42, 42);
    -moz-border-radius : 200px / 400px;
    -webkit-border-radius : 200px / 400px;
    border-radius : 200px / 400px;
    position: absolute;
    left:450px;
    top: 50px;
    z-index: 1;
}

#oreillesR{
    width :175px;
    height : 350px;
    background : rgb(165, 42, 42);
    -moz-border-radius : 200px / 400px;
    -webkit-border-radius : 200px / 400px;
    border-radius : 200px / 400px;
    position: absolute;
    left:1025px;
    top: 50px;
    z-index: 1;
}

#lobesD{
    width :125px;
    height : 275px;
    background : rgb(188, 143, 143);
    -moz-border-radius : 150px / 300px;
    -webkit-border-radius : 150px / 300px;
    border-radius : 150px / 300px;
    position: absolute;
    left:470px;
    top: 75px;
    z-index: 1;
}

#lobesR{
    width :125px;
    height : 275px;
    background : rgb(188, 143, 143);
    -moz-border-radius : 150px / 300px;
    -webkit-border-radius : 150px / 300px;
    border-radius : 150px / 300px;
    position: absolute;
    left:1050px;
    top: 80px;
    z-index: 1;
}

#yeuxD{
    width  : 100px;
    height : 140px;
    background : rgb(255, 255, 255);
    position:absolute;
    border-radius: 50px 50px 0px 0px;
    left:650px;
    top: 350px;
    z-index: 2;
}

#yeuxR{
    width  : 100px;
    height : 140px;
    background : rgb(255, 255, 255);
    position:absolute;
    border-radius: 50px 50px 0px 0px;
    left:900px;
    top: 350px;
    z-index: 2;
}

#retineD{
    width  : 70px;
    height : 100px;
    background : rgb(0, 0, 0);
    position:absolute;
    border-radius: 50px 50px 0px 0px;
    left:915px;
    top: 390px;
    z-index: 2;  
}

#retineR{
    width  : 70px;
    height : 100px;
    background : rgb(0, 0, 0);
    position:absolute;
    border-radius: 50px 50px 0px 0px;
    left:665px;
    top: 390px;
    z-index: 2;  
}

#nez{
  width  : 0;
  height : 0;
  border-left  : 50px solid transparent;
  border-right : 50px solid transparent;
  border-top   : 70px solid rgb(0, 0, 0);
  position: absolute;
  left: 775px;
  top: 490px;
  z-index: 2;
}

#bouche{
    width  : 320px;
    height : 75px;
    background : rgb(0, 0, 0);
    position:absolute;
    border-radius: 0px 0px 50px 50px;
    left: 665px;
    top: 560px;
    z-index: 2;

}